h3{
   
    font-weight: 600;
    margin: 20px auto 10px auto;
    color: #009933;
}
.carousel-item{
    padding: 15px;
    cursor: -webkit-grabbing;
     
     & img{
      
       height: 600px;
       width: 1000px;
       
       box-shadow: 0px 5px 5px rgba(0,0,0,.21);
     transition: .25s linear;  
     }
    
    :hover{
     img{
    transform: translatey(-1%);
}
}
}
  
.carousel-indicators li{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: yellow;
    background-color: #009933;
    border: 1px solid yellowgreen;
    border-radius: 10px;
    margin: 2px;
    position: relative;
    top: 30px;
}

&.active{
    background: #009933;
}
  
  
@media only screen and (max-width: 650px)
{
    .carousel-item img{
    height: auto;
    }
}
  
  
  
  
.carousel-control-prev{
    left: -50px;
    margin: 0 -25px;
}
.carousel-control-next{
    right: -50px;
    margin: 0 -25px;
} 
.carousel-caption h1{
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    padding: 10px;
    color: #ffff;
    font-weight: bolder;
 text-align: center;
   
    bottom: 0;

    
}
.carousel-caption span{
    color: #ffff;
    font-size: 13px;
   
    font-weight:lighter;
    
}