.site-footer {
    padding: 5em 0;
    background: #339933;
    margin-right: -70px;
    font-size: 10px;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    
}
.site-footer p{
    text-align: center;
    color: #fff;
}
.site-footer p:last-child {
    margin-bottom: 0;
}
.site-footer a {
    color: yellowgreen;
    border-bottom: 1px solid transparent;
}
.site-footer a:hover {
    color: #fff;
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
}
.site-footer h2 {
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: center;
    
}
.site-footer .list-unstyled{
    align-items: center;
    justify-content: center;
   }
.footer-social a {
    line-height: 0;
    border-radius: 50%;
    margin: 0 20px 20px 0;
    border: 5px solid rgba(255, 255, 255, 0.1);
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}
.footer-social a:hover {
    background: #fff;
    border-color: #fff;
    color: #000;
}

.footer-social div .bi {
   
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
position: absolute;
   
    
}
@media (max-width: 991px){
    
    .site-footer h2{
        text-align: center;
      }
      
      .site-footer h2 {
        
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .site-footer img {
        display: block;
  margin-left: auto;
  margin-right: auto;
  
    }
}
@media (max-width: 767px) {
    .site-footer .list-unstyled{
     align-items: center;
     justify-content: center;
    }
}