@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
    --link: #12ade0;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #339933 #c5c5c5;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-track {
    background: hsl(0, 0%, 98%);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #339933;
    border-radius: 50px;
  }
  
body {
    font-family: 'Roboto', Helvetica, sans-serif;
    background: hsl(0, 0%, 98%);
    font-size: 15px;

}

p {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

h4 {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

h1 {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 25px;
    color: #339933;
    text-align: center;
}

.home_sec {
    font-size: 48px;
    font-weight: bold;
}

.home__sec {
    text-decoration: underline;
    color: #339933;
    padding-top: 48px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: white;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.post-item {
    width: 100%;
}

.mapdiv path {
    fill: #009900;
    stroke: #ffffff;
    stroke-width: 0.5px;
    transition: fill 0.3s;
    align-items: end;
}

.mapdiv path:hover {
    fill: #ecde41;
}

.video video {
   border-radius: 12px;
   border-color: #fafafa;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */



.text-sidebar {
    color: green;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: white;
    color: #339933;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;

    /*#6d7fcc*/
    ;
}

#sidebar ul.components {
    padding: 20px 0;

}



#sidebar ul li a {
    padding: 10px;
    font-size: 20px;
    display: block;
}

#sidebar ul li a:hover {
    color: #339933;
    background: yellowgreen;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #009933;

}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 13px !important;
    padding-left: 30px !important;

}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 13px !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {

    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;

    }

    #sidebarCollapse span {
        display: none;
    }

    body {
        font-size: small;
    }

    .contact-form {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 20px;

    }

  

    .get-in-touch {
        max-width: fit-content;
        margin: 0;

    }
    #myInput {
        margin: 0;
        max-width: fit-content;
    }

}






@media (max-width: 550px) {
    .accordion body {
        box-sizing: border-box;
        transform: translate(0, 0);
        max-width: 100%;
        min-height: 100%;
        margin: 0;
        left: 0;
    }

}

@media (max-width: 600px) {
    .home_sec {
        font-size: 32px;
        font-weight: bold;
    }
}



.modal-fade {
    font-family: 'Roboto', Helvetica, sans-serif;

}

.modal-content {

    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.43);



}

.modal-content .modal-header {
    padding: 16px 16px;
    color: #ffffff;


}

.modal-content .modal-header p {
    color: #ececec;
}

.modal-content .close {
    font-size: 23px;
}

.login-btn {
    width: 200px;
    background: #009933;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;

}

.login-btn:hover {
    background: #339933;
}

.modal-body {
    padding: 16px 16px;
}

.modal-header {
    display: block;
}

.form-control {
    padding: 5px;
    font-size: 2.5rem;
}

.md-form {
    position: relative;
}

.modal-body .md-form .input-icon {
    color: #777;
    font-size: 18px;
    transform: translateY(-50%);
    position: absolute;
    top: 35%;
    left: 19px;
}

.modal-body .form-control {
    font-size: 17px;
    height: 45px;
    width: 100%;
    padding: 6px 0 6px 50px;
    margin: 0 auto;
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}

.modal-body .forgot-pass {
    color: #000000;
    font-size: 13px;
    text-align: right;
    width: calc(100% - 135px);
    margin: 2px 0;
    display: inline-block;
    vertical-align: top;
    transition: all 0.3s ease 0s;
}

.forgot-pass:hover {
    color: #ffffff;
    text-decoration: underline;
}

.modal-body .checkbox {
    display: inline-block;
    justify-content: center;
}

.modal-body .forgot-pass {
    display: inline-block;
    text-align: right;
    margin: 2px 0;
}

input[type="checkbox"] {
    margin: 4px 0 0;
}

/*
Filter
*/


#myInput {

    width: 100%;
    font-size: 13px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 16px;
    outline: none;
}


#myTable {
    border-collapse: collapse;
    width: 100%;
    padding: 20px 20px;
    border: 1px solid #ddd;
    font-size: 10px;
    table-layout: fixed;
    
}

.sort-table {
    display: block;
    overflow-x: auto;
}


#myTable th,
#myTable td {
    text-align: left;
    padding: 12px;
    overflow: hidden;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
    background-color: #f1f1f1;
}


#time {
    color: #000000;
    font-size: smaller;
    text-align: justify;
    margin: 10px;

}


ul.breadcrumb {
    background-color: unset !important;
}

.breadcrumb>li+li:before {
    color: #b0bbca;
    content: "> ";
    padding: 0 5px;

}

ul.breadcrumb li a {
    color: var(--link);
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: var(--link);
    text-decoration: underline;

}

.officials {
    display: flex;
}

.officials .card img {
    display: inline-block;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 1rem;

}

.card-title span {
    font-size: 12px;
    color: #777;
}

#officials {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 3px;
}

.cards table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.list-of-officials {
    font-size: 10px;
    display: flex;

}

.list-of-officials .cut {
    padding-left: 20px;
}
